{% extends "template.html" %}
{% block conteudo %}
    <header>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/projetos.css') }}">
    </header>
    <div class="projetos">
        <h1>Projetos</h1>
        <div class="block">
            <h2>MLOps</h2>
            <p>Neste projeto vou mostrar o processo completo de criação de um modelo de Deep Learning com Pytorch.</p>
            <p>Desda analisa dos dados até a criação de um serviço de predição e a disponibilização do modelo em produção utilizando plataformas de Cloud.</p>
        </div>
        <div class="block">
            <h2>MLOps</h2>
        </div>
        <div class="block">
            <h2>IoT</h2>
        </div>
        <div class="block">
            <h2>Machine Learning</h2>
        </div>
    </div>
{% endblock %}